{% extends 'layout.html' %}


{% block main%}
    <ol class="breadcrumb">
        <li><a href="/admin">管理首页</a></li>
        <li class="active">分类管理</li>
        <li class="active">分类首页</li>
    </ol>

<h3>分类信息</h3>
<table class="table table-hover text-center">
    <tr class="active">
        <td class="col-md-3">ID</td>
        <td class="col-md-3">分类名称</td>
        <td class="col-md-3">修改分类名称</td>
    </tr>

    {% for item in dataInfo%}
    <tr>
        <td class="success">{{item._id.toString()}}</td>
        <td class="warning">{{item.name}}</td>
        <td class="danger"><a href="/admin/categoryIndex/edit?id={{item._id.toString()}}">修改</a> | <a href="/admin/categoryIndex/remove?id={{item._id.toString()}}">删除</a></td>
    </tr>
    {% endfor %}

</table>
{% include 'page_model.html' %}

{% endblock %}